@import 'tailwindcss';
@import 'sequential-workflow-designer/css/designer.css';
@import 'sequential-workflow-designer/css/designer-soft.css';

.sqd-designer-react {
  width: 100%;
  height: 100%;
}
.sqd-layout-desktop .sqd-smart-editor {
  width: 400px;
}
.sqd-editor,
.sqd-editor-react {
  height: 100%;
}
.sqd-editor-react {
  overflow: auto;
}
.sqd-root-start-stop-circle,
.sqd-label-primary > .sqd-label-rect {
  fill: #574fbf !important;
}
